.git
.DS_Store
.env
venv/
render-api/.env
render-api/venv/
render-api/cache/
render-api/videos/
render-api/db.sqlite3
render-api/logs/
render-api/app/__pycache__/
render-api/app/cache/
render-ui/node_modules/
render-ui/dist/
render-ui/.npm-cache/
